.header-nav {
    display: flex;
    width: 90%;
    position: relative;
    left: 10%;
    bottom: 43px;
}

.nav__search {
    margin-left: 8%;
    margin-right: 3%;
    width: 50%;
    height: 50px;
}

.nav__search--text {
    padding-left: 5%;
    width: 100%;
    font-size: 1.8vw;
    border-radius: 5px;
    border: none;
}

.form-log {
    width: 11%;
}

.logout-link {
    margin-top: 2px;
    width: 100%;
    font-size: 1.3vw;
    border: none;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.mypage-link {
    margin-top: 4px;
    margin-left: 3%;
    display: block;
    width: 10%;
    font-size: 1.3vw;
    color: #fff;
    text-decoration: none;
}

.sell-link {
    margin-left: 3%;
    display: block;
    width: 10%;
    height: 30px;
    line-height: 30px;
    font-size: 1.3vw;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.profile-header {
    width: 300px;
    margin: 80px auto 0px;
}

.profile-header__logo {
    font-size: 2rem;
    text-align: center;
}

.form__group {
    margin-top: 80px;
    margin-left: 35%;
}

.form__group-title {
    width: 150px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.5rem;
}

.form__input {
    width: 50%;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

.form__button {
    margin-top: 50px;
    margin-bottom: 80px;
}

.form__button-submit {
    width: 50%;
    padding: 15px;
    font-weight: bold;
    font-size: 1.5vw;
    color: #fff;
    text-align: center;
    background-color: #FF5555;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}