.header-nav {
    position: relative;
    left: 20%;
    bottom: 45px;
    display: flex;
    width: 80%;
    height: 35px;
}

.form__search {
    width: 60%;
}

.nav__search--text {
    padding-left: 5%;
    width: 80%;
    height: 100%;
    font-size: 1.3vw;
    border: none;
    border-radius: 10px 0px 0px 10px;
}

.search--button {
    width: 18%;
    height: 100%;
    font-size: 1.3vw;
    transform: translateX(-2px);
    border: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

.form-log {
    margin-left: 3%;
    width: 10%;
}

.logout-link {
    width: 100%;
    height: 100%;
    font-size: 1.1vw;
    border: none;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.mypage-link {
    display: flex;
    margin-left: 3%;
    width: 10%;
    height: 100%;
    font-size: 1.1vw;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.sell-link {
    display: flex;
    margin-left: 3%;
    width: 10%;
    height: 100%;
    font-size: 1.1vw;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

.address-header {
    width: 80%;
    margin: 60px auto 0px;
}

.address-header__logo {
    width: 100%;
    font-size: 2.5vw;
    text-align: center;
}

.form__group {
    margin-top: 40px;
    margin-left: 25%;
}

.form__group-title {
    width: 80%;
    margin-top: 30px;
    font-weight: bold;
    font-size: 2vw;
}

.form__input {
    width: 70%;
    padding: 15px;
    font-size: 2vw;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

.form__button {
    margin-top: 50px;
    margin-bottom: 80px;
}

.form__button-submit {
    width: 70%;
    padding: 15px;
    font-weight: bold;
    font-size: 2vw;
    color: #fff;
    text-align: center;
    background-color: #FF5555;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}