html {
    max-width: 1540px;
    font-size: 10px;
}

.header {
    width: 140%;
    height: 55px;
    margin: 0;
    padding: 10px 0;
    background-color: #000;
}

.header__inner {
    padding: 0 15px;
}

.header--item{
    width: 18%;
    height: auto;
}