.header-nav {
    display: flex;
    width: 90%;
    position: relative;
    left: 10%;
    bottom: 43px;
}

.nav__search {
    margin-left: 8%;
    margin-right: 3%;
    width: 50%;
    height: 50px;
}

.nav__search--text {
    padding-left: 5%;
    width: 100%;
    font-size: 1.8vw;
    border-radius: 5px;
    border: none;
}

.form-log {
    width: 11%;
}

.logout-link {
    margin-top: 2px;
    width: 100%;
    font-size: 1.3vw;
    border: none;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.mypage-link {
    margin-top: 4px;
    margin-left: 3%;
    display: block;
    width: 10%;
    font-size: 1.3vw;
    color: #fff;
    text-decoration: none;
}

.sell-link {
    margin-left: 3%;
    display: block;
    width: 10%;
    height: 30px;
    line-height: 30px;
    font-size: 1.3vw;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.no__login-link {
    display: block;
    position: relative;
    left: 65%;
    bottom: 90px;
    width: 10%;
    height: 20px;
    font-size: 1.3vw;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.no__login-mypage-link {
    display: block;
    position: relative;
    left: 76%;
    bottom: 110px;
    width: 10%;
    height: 20px;
    font-size: 1.3vw;
    text-align: center;
    color: #fff;
    background-color: #000;
    text-decoration: none;
}

.no__login-sell-link {
    display: block;
    position: relative;
    left: 89.2%;
    bottom: 131px;
    width: 9%;
    height: 30px;
    line-height: 30px;
    font-size: 1.3vw;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.image-detail__container {
    display: flex;
    transform: translateY(-35px);
}

.product__detail {
    width: 60%;
    margin-top: 30px;
    margin-left: 15%;
}

.product__image {
    margin-top: 30px;
    margin-left: 5%;
    width: 40%;
    height: auto;
}

.product__image--item {
    width: 100%;
    height: auto;
}

.product__name--text {
    width: 250px;
    font-size: 3vw;
    font-weight: bold;
    border: none;
    outline: none;
}

.product__brand {
    margin-top: 5px;
}

.product__brand--text {
    width: 100px;
    font-size: 1.5vw;
    border: none;
    outline: none;
}

.product__price {
    margin-top: 15px;
}

.price--mark {
    font-size: 1.7vw;
}

.product__price--text {
    width: 60%;
    font-size: 2vw;
    border: none;
    outline: none;
}

.product__mark {
    width: 30%;
    height: 120px;
    table-layout: fixed;
}

.product__mark td {
    transform: translateY(-25px);
}

.mark__check {
    display: none;
}

.mark__button--like {
    font-size: 3vw;
    cursor: pointer;
}

.no-mark__button--like {
    font-size: 3vw;
}

.mark__button--comment {
    font-size: 3vw;
}

.mark__count {
    width: 100%;
    font-size: 1.5vw;
    text-align: center;
    border: none;
    outline: none;
}

.mark__check:checked+.mark__button--like {
    background-color: #dff306;
    color: #000;
}

.purchase__link--button {
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    padding: 5px 10px;
    width: 60%;
    font-size: 1.5vw;
    font-weight: bold;
    background-color: #FF5555;
    text-align: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.no-purchase__link--button {
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    padding: 5px 10px;
    width: 60%;
    font-size: 1.5vw;
    font-weight: bold;
    background-color: #a79292;
    text-align: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.product__explain {
    margin-top: 20px;
}

.explain__header {
    width: 60%;
    font-size: 2vw;
    font-weight: bold;
}

.explain__color {
    margin-top: 20px;
}

.explain__color--text {
    width: 60%;
    font-size: 1.5vw;
    border: none;
    outline: none;
}

.explain__description {
    margin-top: 20px;
    width: 60%;
}

.explain__description--text {
    width: 100%;
    height: 100px;
    font-size: 1.2vw;
    border: none;
    outline: none;
}

.product__info {
    margin-top: 20px;
}

.info__header {
    width: 60%;
    font-size: 2vw;
    font-weight: bold;
}

.category__list {
    margin-top: 10px;
}

.category__list--item {
    font-size: 1.5vw;
    font-weight: bold;
}

.category__check {
    display: none;
}

.category__button {
    padding: 3px 1.7%;
    margin-left: 3%;
    font-size: 1.2vw;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: #D9D9D9;
    color: #000;
    outline: none;
}

.product__condition {
    margin-top: 10px;
}

.product__condition--item {
    font-size: 1.5vw;
    font-weight: bold;
}

.condition--text {
    width: 60%;
    margin-left: 3%;
    font-size: 1.2vw;
    border: none;
    outline: none;
}

.product__comment {
    margin-top: 20px;
    margin-bottom: 20px;
}

.comment--text {
    width: 60%;
    height: auto;
    font-size: 2vw;
    font-weight: bold;
    color: #5F5F5F;
    outline: none;
}

.comment__figure {
    width: 60%;
    font-size: 2vw;
    font-weight: bold;
    border: none;
    outline: none;
    color: #5F5F5F;
}

.user__info {
    margin-top: 30px;
}

.user__info-detail {
    width: 100%;
}

.user__image--item {
    width: 10%;
    height: auto;
}

.user__name {
    margin-left: 20px;
    width: 60%;
    font-size: 1.5vw;
    font-weight: bold;
    border: none;
    outline: none;
}

.user__comment {
    margin-top: 5px;
    width: 60%;
}

.user__comment--text {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 1.2vw;
    border: none;
    outline: none;
    background-color: #ddcfcf;
}

.form__group {
    margin-top: 30px;
    width: 60%;
}

.comment__logo {
    font-size: 1.5vw;
    font-weight: bold;
}

.form__textarea--text {
    width: 100%;
    height: 100px;
    border: 2px solid #000;
}

.form__button {
    margin-top: 15px;
    margin-bottom: 80px;
    width: 100%;
}

.form__button-submit {
    padding: 5px 10px;
    width: 100%;
    font-size: 1.5vw;
    font-weight: bold;
    background-color: #FF5555;
    border: none;
    color: #fff;
    cursor: pointer;
}

.no-form__button {
    margin-top: 15px;
    margin-bottom: 80px;
    width: 100%;
}

.no-form__button-submit {
    padding: 5px 10px;
    width: 100%;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    background-color: #a79292;
    border: none;
    color: #fff;
    cursor: pointer;
}