.header-nav {
    display: flex;
    width: 90%;
    position: relative;
    left: 10%;
    bottom: 43px;
}

.nav__search {
    margin-left: 8%;
    margin-right: 3%;
    width: 50%;
    height: 50px;
}

.nav__search--text {
    padding-left: 5%;
    width: 100%;
    font-size: 1.8vw;
    border-radius: 5px;
    border: none;
}

.form-log {
    width: 11%;
}

.logout-link {
    margin-bottom: 4px;
    width: 100%;
    height: 20px;
    font-size: 1.3vw;
    border: none;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.mypage-link {
    margin-top: 2px;
    margin-left: 3%;
    display: block;
    width: 10%;
    height: 30px;
    font-size: 1.3vw;
    color: #fff;
    text-decoration: none;
}

.sell-link {
    margin-left: 3%;
    display: block;
    width: 10%;
    height: 30px;
    line-height: 30px;
    font-size: 1.3vw;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.no__login-link {
    display: block;
    position: relative;
    left: 65%;
    bottom: 90px;
    width: 10%;
    height: 20px;
    font-size: 1.3vw;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.no__login-mypage-link {
    display: block;
    position: relative;
    left: 76%;
    bottom: 110px;
    width: 10%;
    height: 20px;
    font-size: 1.3vw;
    text-align: center;
    color: #fff;
    background-color: #000;
    text-decoration: none;
}

.no__login-sell-link {
    display: block;
    position: relative;
    left: 89.2%;
    bottom: 131px;
    width: 9%;
    height: 30px;
    line-height: 30px;
    font-size: 1.3vw;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.main__frame {
    position: relative;
    bottom: 70px;
}

.main-nav {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #000;
    transform: translateY(-15px);
}

.no-login-main-nav {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #000;
    position: relative;
    bottom: 60px;
}

.nav__recommend {
    margin-left: 10%;
}

.nav__mylist {
    margin-left: 5%;
}

.recommend-link {
    font-size: 2vw;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.mylist-link {
    font-size: 2vw;
    font-weight: bold;
    text-decoration: none;
    color: #FF5555;
    cursor: pointer;
}

.product__container {
    margin: 50px 0 70px 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.product-item {
    width: 20%;
    margin-top: 20px;
}

.product-item__link {
    text-decoration: none;
}

.product__image {
    width: 100%;
    height: auto;
}

.name--text {
    width: 100%;
    font-size: 1.5vw;
    font-weight: bold;
    border: none;
    outline: none;
}

.product__sold {
    position: relative;
    left: 22%;
    bottom: 50%;
    width: 50%;
}

.product__sold--text {
    padding: 10px;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background-color: #FF5555;
}