.nav__search {
    width: 40%;
    height: 40px;
    position: absolute;
    left: 30%;
    top: 9px;
}

.nav__search--text {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
}

.nav__container {
    width: 55%;
    display: flex;
    position: absolute;
    left: 80%;
    top: 15px;
}

.logout-link,
.mypage-link {
    margin-left: 15px;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}

.sell-link {
    margin-top: 3px;
    margin-left: 15px;
    padding: 6px 12px;
    font-size: 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.main-nav {
    margin-top: 30px;
    display: flex;
    width: 140%;
    border-bottom: 1px solid #5F5F5F;
}

.nav__suggest {
    margin-left: 10%;
    width: 100px;
}

.suggest-link {
    font-size: 1.5rem;
    color: #5F5F5F;
    text-decoration: none;
}

.nav__mylist {
    width: 100px;
}

.mylist-link {
    font-size: 1.5rem;
    color: #5F5F5F;
    text-decoration: none;
}

.product__container {
    margin: 50px 0 70px 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.product-item {
    width: 20%;
    margin-top: 20px;
}

.product__image {
    width: 100%;
    height: auto;
}

.name--text {
    width: 100%;
    font-size: 1.5rem;
    font-weight:  bold;
    border: none;
}

