.header-nav {
    position: relative;
    left: 20%;
    bottom: 45px;
    display: flex;
    width: 80%;
    height: 35px;
}

.form__search {
    width: 60%;
}

.nav__search--text {
    padding-left: 5%;
    width: 80%;
    height: 100%;
    font-size: 1.3vw;
    border: none;
    border-radius: 10px 0px 0px 10px;
}

.search--button {
    width: 18%;
    height: 100%;
    font-size: 1.3vw;
    transform: translateX(-2px);
    border: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

.form-log {
    margin-left: 3%;
    width: 10%;
}

.logout-link {
    width: 100%;
    height: 100%;
    font-size: 1.1vw;
    border: none;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.mypage-link {
    display: flex;
    margin-left: 3%;
    width: 10%;
    height: 100%;
    font-size: 1.1vw;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.sell-link {
    display: flex;
    margin-left: 3%;
    width: 10%;
    height: 100%;
    font-size: 1.1vw;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

.profile__container {
    margin-left: 15%;
    width: 90%;
}

.user__image {
    width: 15%;
    border-radius: 50%;
}

.user__name {
    margin-left: 5%;
    width: 30%;
    font-size: 3vw;
    font-weight: bold;
    border: none;
    outline: none;
}

.user__profile {
    margin-left: 10%;
    padding: 5px 10px;
    width: 100%;
    font-size: 2vw;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #FF5555;
    border-radius: 10px;
    color: #FF5555;
}

.main-nav {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #000;
    transform: translateY(40px);
}

.nav__recommend {
    margin-left: 10%;
}

.nav__mylist {
    margin-left: 5%;
}

.recommend-link {
    font-size: 2vw;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.mylist-link {
    font-size: 2vw;
    font-weight: bold;
    text-decoration: none;
    color: #FF5555;
    cursor: pointer;
}

.product__container {
    margin: 50px 0 70px 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.product-item {
    width: 20%;
    margin-top: 20px;
}

.product-item__link {
    text-decoration: none;
}

.product__image {
    width: 100%;
    height: auto;
}

.name--text {
    width: 100%;
    font-size: 1.5vw;
    font-weight: bold;
    border: none;
    outline: none;
}

.product__sold {
    position: relative;
    left: 22%;
    bottom: 50%;
    width: 50%;
}

.product__sold--text {
    padding: 10px;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background-color: #FF5555;
}