.header-nav {
    display: flex;
    width: 90%;
    position: relative;
    left: 10%;
    bottom: 43px;
}

.nav__search {
    margin-left: 8%;
    margin-right: 3%;
    width: 50%;
    height: 50px;
}

.nav__search--text {
    padding-left: 5%;
    width: 100%;
    font-size: 1.8vw;
    border-radius: 5px;
    border: none;
}

.form-log {
    width: 11%;
}

.logout-link {
    margin-top: 2px;
    width: 100%;
    font-size: 1.3vw;
    border: none;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.mypage-link {
    margin-top: 4px;
    margin-left: 3%;
    display: block;
    width: 10%;
    font-size: 1.3vw;
    color: #fff;
    text-decoration: none;
}

.sell-link {
    margin-left: 3%;
    display: block;
    width: 10%;
    height: 30px;
    line-height: 30px;
    font-size: 1.3vw;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.comment-form {
    width: 90%;
    margin-top: 80px;
    display: flex;
}

.product__box-left {
    width: 60%;
    margin-left: 5%;
}

.product__container{
    width: 100%;
    display: flex;
}

.product__image {
    margin-left: 5%;
    width: 25%;
}

.product__image--item {
    width: 100%;
    height: auto;
}

.product__name-price {
    margin-left: 2%;
}

.product__name {
    margin-left: 10%;
    width: 80%;
    font-size: 2vw;
    font-weight: bold;
}

.product__price {
    width: 60%;
    margin-top: -10px;
    margin-left: 10%;
}

.price--text {
    width: 100%;
    font-size: 2vw;
    border: none;
    outline: none;
}

.product__pay {
    margin-top: 30px;
    width: 90%;
    border-top: 1px solid #000;
}

.pay__name {
    margin-left: 5%;
    font-size: 1.8vw;
    font-weight: bold;
}

.pay__select {
    margin: 15px 0 30px 10%;
    padding: 3px 10px;
    width: 50%;
    font-size: 1.5vw;
}

.product__deliver {
    padding-bottom: 15px;
    margin-bottom: 50px;
    width: 90%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.deliver__container {
    display: flex;
}

.deliver__name {
    margin-left: 5%;
    width: 50%;
    font-size: 1.8vw;
    font-weight: bold;
}

.deliver__link {
    margin-top: 4%;
    margin-left: 10%;
}

.address-link {
    font-size: 1.8vw;
    text-decoration: none;
}

.product__postal {
    margin-top: 20px;
}

.deliver__address {
    margin-top: 10px;
    margin-left: 5%;
}

.deliver__postal {
    width: 80%;
}

.postal__number {
    width: 100%;
    font-size: 1.2vw;
    border: none;
}

.user__address {
    margin-top: 5px;
    width: 90%;
}

.user__address--text {
    width: 100%;
    font-size: 1.2vw;
    border: none;
}

.user__building--text {
    width: 100%;
    font-size: 1.2vw;
    border: none;
}

.product__box-right {
    width: 45%;
    bottom: 400px;
}

.product__summary {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
    font-size: 1.5vw;
}

.product__summary th,
.product__summary td {
    padding: 8px;
    font-weight: normal;
    border-bottom: 1px solid #000;
}

.product__summary tr:last-child td {
    border-bottom: none;
}

.product__summary input {
    margin-right: auto;
    margin-left: 20%;
    padding: 5px;
    width: 70%;
    font-size: 1.5vw;
    border: none;
}

.purchase__link--button {
    display: block;
    padding: 10px 0;
    margin-top: 30px;
    width: 100%;
    font-size: 1.3vw;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border: none;
    background-color: #FF5555;
    color: #fff;
}