.register-header {
    width: 200px;
    margin: 80px auto 0px;
}

.register-header__logo {
    font-size: 2rem;
    text-align: center;
}

.form__group {
    margin-top: 40px;
    margin-left: 35%;
}

.form__group-title {
    width: 150px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.5rem;
}

.form__input {
    width: 50%;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

.form__button {
    margin-top: 50px;
}

.form__button-submit {
    width: 50%;
    padding: 15px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    background-color: #FF5555;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.login__link {
    margin: 30px 0 80px 47%;
}

.login__link--button {
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
}