.thanks__block {
    margin: 30% auto;
    width: 50%;
}

.thanks__sentence {
    margin-bottom: 100px;
    font-size: 2.2vw;
    text-align: center;
}

.index__link {
    display: block;
    margin: 0 auto;
    width: 40%;
    font-size: 2.2vw;
    font-weight: bold;
    cursor: pointer;
}
