.container {
    display: flex;
}

.left__box {
    width: 15%;
    background-color: #868686; 
}

.other_transaction--text {
    text-align: center;
    color: #fff;
    font-size: 1.8vw;
    font-weight: bold;
}

.other-transaction__link {
    width: 100%;
    margin-top: 10%;
    margin-left: 13%;
}

.other-transaction__link--button {
    display: inline-block;
    width: 75%;
    text-align: center;
    padding: 5% 5%;
    font-size: 1vw;
    border: 1px solid #000;
    border-radius: 10px;
    color: #000;
    background-color: #EEEFEB;
    text-decoration: none;
}

.right__box {
    width: 85%;
}

.transaction-header {
    display: flex;
    border-bottom: 1px solid #000;
}

.transaction-header__img {
    width: 12%;
    margin-left: 3%;
    margin-bottom: 10px;
    transform: translateY(10%);
}

.header__img--item {
    width: 100%;
    border-radius: 50%;
}

.transaction-header__logo {
    width: 62%;
    margin-left: 3%;
    font-size: 1.5vw;
}

.transaction-button {
    width: 20%;
    margin: 4% 0;
}

.transaction__link--button {
    padding: 8% 13%;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #FF8282;
    color: #fff;
    font-size: 1.2vw;
    font-weight: bold;
    cursor: pointer;
}

.end-transaction__link--button {
    padding: 8% 13%;
    border-radius: 20px;
    text-align: center;
    background-color: #868686;
    color: #fff;
    font-size: 1.2vw;
    font-weight: bold;
    cursor: pointer;
}

.product-detail {
    display: flex;
    border-bottom: 1px solid #000;
}

.product-detail__img {
    width: 15%;
    margin: 2% 0 2% 3%;
}

.product-detail__img--item{
    width: 100%;
}

.product-detail__text {
    width: 83%;
    margin-left: 2%;
    font-size: 2.5vw;
    font-weight: bold;
}

.transaction-other-comment {
    margin: 5% 2%;
    width: 48%;
}

.transaction-my-comment {
    width: 50%;
    margin-left: 50%;
    margin-top: 10%;
}

.comment__container {
    display: flex;
}

.my-comment__container {
    display: flex;
    justify-content: right;
    margin-right: 20%;
}

.person__img {
    width: 12%;
}

.person__img--item {
    margin-left: 10%;
    width: 100%;
    border-radius: 50%;
}

.person__name {
    margin-left: 3%;
    font-size: 1.5vw;
    transform: translateY(-20%);
}

.person__comment--text {
    width: 80%;
    height: 30px;
    border: none;
    background-color: #D9D9D9; 
    outline: none;
}

.transaction__image--item {
    display: none;
}

.transaction-message__space {
    margin: 71% 0 30px 0;
}

.transaction-message__space--text {
    width: 70%;
    padding-left: 5px;
    height: 35px;
    margin-left: 2%;
    outline: none;
}

.transaction__image--button {
    width: 10%;
    padding: 1% 2%;
    margin-left: 2%;
    color: #FF5555;
    border: 1px solid #FF5555;
    border-radius: 10px;
    cursor: pointer;
}

.transaction-send__button {
    width: 6%;
    border: none;
    background-color: #fff;
}

.send__image--item {
    width: 100%;
    cursor: pointer;
}

.comment__button {
    margin: 5% 15% 0 0;
    text-align: right;
}

.comment__button--submit {
    margin-right: 5%;
    font-size: 1.2vw;
    border: none;
    background-color: #fff;
    cursor: pointer;
    transform: translateY(-50%);
}

.comment__img--item {
    margin-top: 10px;
    margin-left: 15%;
    width: 30%;
}

.modal-content {
    display: none;
    width: 50%;
    padding: 2%;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #FDFCE6;
    position: absolute;
    left: 25%;
    top: 60%;
}

.modal-content__seller {
    width: 50%;
    padding: 2%;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #FDFCE6;
    position: absolute;
    left: 25%;
    top: 50%;
}

.modal-title {
    padding-bottom: 5%;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #000;
}

.modal__text--sentence {
    font-size: 1.2vw;
}

.evaluation__container {
    padding-bottom: 10%;
    border-bottom: 1px solid #000;
    text-align: center;
}

.category__check {
    display: none;
}

.category__button {
    cursor: pointer;
}

.category__button::before {
    content: "☆";
    font-size: 8vw;
    color: #D9D9D9;
    transition: color 0.2s;
}

.category__button.active::before {
    content: "★";
    color: gold; 
}

.modal__link {
    margin-top: 10%;
    margin-right: 3%;
    text-align: right;
}

.modal__link--button {
    padding: 2% 5%;
    border: none;
    outline: none;
    text-align: right;
    color: #fff;
    border-radius: 10px;
    background-color: #FF5555;
    cursor: pointer;
}

.form__error {
    margin-bottom: 3%;
    margin-left: 3%;
    width: 70%;
    font-size: 2vw;
    font-weight: bold;
    color: #FF5555;
    transform: translateY(-120%);
}